@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /* margin-top: 10rem; */
}

body {
  background-color: rgb(169, 144, 144);
}

/* ======================== HEADER / LINK  SECTION ========================== */

.header {
  margin-bottom: 130px;
}

.mobileLinks {
  color: rgb(190, 183, 183);
  text-shadow: 2px 2px 4px rgb(11, 11, 11);
}

/* == Cat Logo expandable header == */
#root>div:nth-child(1)>nav>div>a>img {
  padding: 0px;
  width: 180px;
  height: 90px;
  margin-top: -16px;
  margin-bottom: -20px;
  
}

/* New Header  expandable header */
.pageTitle {
  font-family: 'Lobster Two', cursive;
  color: rgb(239, 121, 121);
  font-size: 2.8rem;
  margin-top: -17px;
  text-shadow: 2px 2px 4px black;
  
}

#root > div:nth-child(1) > nav > div > a {
  display: flex;
  height: 70px;
  
  
}

/* Header Bar */
#navHeader {
  background: #911500;
  background: -moz-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: -webkit-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: linear-gradient(to bottom, #911500 0%, #A10808 50%, #820000 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 17px black;

}

/* Expandable Header Option */
#root>div:nth-child(1)>nav {
  /* display: none; hides bar */
  background: #911500;
  background: -moz-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: -webkit-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: linear-gradient(to bottom, #911500 0%, #A10808 50%, #820000 100%);
  box-shadow: 2px 2px 17px black;
  border-bottom: 3px solid rgb(108, 28, 28);
}

.linkContainer {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  margin: auto;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(190, 183, 183);
  text-shadow: 2px 2px 4px rgb(11, 11, 11);
}

.links {
  display: flex;
  justify-content: space-between;
  margin: auto;


}

#navHeader>div {
  padding-left: 20px;
  color: rgb(229, 221, 221);
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
  
}

/* ======================== END HEADER / LINK  SECTION ====================== */

/* ========================== MAIN PAGES SECTION ============================ */
.page {
  display: flex;
  flex-direction: column;
}
.cardCollection {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 90px;
  
}
 .card {
  box-shadow: 4px 8px 17px black;
  height: 500px;
  width: 18rem;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  background-color: rgb(198, 109, 109);
  border: 2px solid rgb(155, 99, 99);
 }
 
 .cardImage {
  border-radius: 10px 10px 0px 0px;
  height: 250px;
 }

 .subtitle {
  color: rgb(190, 190, 196);
 }

/* Card Description Section */
.description {
  background-color: rgb(60, 55, 55);
  color: rgb(239, 121, 121);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;

}

.btn {
  box-shadow: 2px 2px 9px black;
  color: rgb(239, 121, 121);
  font-weight: bold;
  background: #701202;
  margin-top: 20px;
}

.btn:hover{
  color: rgb(239, 121, 121);
  font-weight: bold;
  background: #2e0902;
}

.btn-secondary:active{
  color: rgb(31, 17, 17);
  font-weight: bold;
  background: #c33114;
}

/* Targets H1 on pages ex(Home, Index, Edit, etc..)*/
#root>div.App>div>h1 {
  font-family: 'Lobster Two', cursive;
  color: rgb(239, 121, 121);
  font-size: 3.3rem;
  text-shadow: 2px 2px 4px black;
}

/* ========================== END MAIN PAGES SECTION ======================== */

/* =========================== FOOTER SECTION =============================== */

#navFooter {
  background: #911500;
  background: -moz-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: -webkit-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: linear-gradient(to bottom, #911500 0%, #A10808 50%, #820000 100%);

  opacity: .95;
  filter: (opacity=50);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 8px 17px black;
  color: rgb(229, 221, 221);
  border-top: 3px solid rgb(108, 28, 28);
}

.image {
  border-radius: 20px;
  box-shadow: 4px 8px 17px black;
}

/* Centers Footer Text */
.container-fluid>h4 {
  margin: auto;
  color: rgb(190, 183, 183);
}
/* =========================== END FOOTER SECTION =========================== */

/* ========================  REACTIVE SECTION =============================== */
/* == Reactive Styles for Menu Toggler == */
.toggler :hover {
  transform: scale(1.1);
  background-color: rgb(239, 121, 121);
}

.toggler :active {
  transform: scale(1);
  background-color: rgb(239, 121, 121);
}

/* == Used to give transition affect for links == */
.grow {
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.grow:hover {
  /* transform: scale(1.15); */
  color: rgb(239, 121, 121);
}

#root > link:active {
  color: rgb(239, 121, 121);
}

/* =====================  END REACTIVE SECTION ============================== */

/* ===================== Responsive CSS Styles ============================== */
/* === Responsive Phone Size ==================================== */
@media (max-width: 729px) {
        /* 629 */
  /* Removes Desktop Header */
  .desktop {
    display: none;
  }
  .header {
    margin-bottom: 90px;
  }

  /* LOGO */
  #root>div:nth-child(1)>nav>div>a>img {
    padding: 0px;
    width: 100px;
    height: 120px;
    margin-top: -58px;
    margin-bottom: -20px;
    margin-left: -30px;
  }

  /* Container for logo and title */
  #root > div:nth-child(1) > nav > div > a {
    padding: 0px;
    width: 100px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: -100px;
    margin-left: 0px;
  }

  /* HEADER TITLE */
  .pageTitle {
    font-family: 'Lobster Two', cursive;
    color: rgb(239, 121, 121);
    font-size: 2.4rem;
    text-shadow: 2px 2px 4px black;
    padding: 0px;
    margin-top: -35px;
  }

  /* MENU TOGGLE ON HEADER */
  .toggler {
    width: 30px;
    margin-right: 35px
  }
}

 /* Desktop Responsive Section================================== */
 /* Removes App Bar when screen gets larger */
@media (min-width: 730px) {
  .mobile {
    display: none;
  }
}