@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto&display=swap');

/* ======================== GLOBAL Section ================================== */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: rgb(82, 11, 11);
}

body {
  background-color: rgb(169, 144, 144);
  background-image: url('./assets/background_cat1.webp');
}

h2 {
  font-weight: bold;
}

/* ======================== END GLOBAL Section ============================== */
/* 
##
## 
*/
/* ======================== HEADER / LINK  SECTION ========================== */

.header {
  margin-bottom: 130px;
}

.mobileLinks {
  color: rgb(190, 183, 183);
  text-shadow: 2px 2px 4px rgb(11, 11, 11);
}

/* == Cat Logo expandable header == */
#root>div:nth-child(1)>nav>div>a>img {
  padding: 0px;
  width: 180px;
  height: 90px;
  margin-top: -16px;
  margin-bottom: -20px;
}

/* New Header  expandable header */
.pageTitle {
  font-family: 'Lobster Two', cursive;
  color: rgb(239, 121, 121);
  font-size: 2.8rem;
  margin-top: -17px;
  text-shadow: 2px 2px 4px black;
}

#root>div:nth-child(1)>nav>div>a {
  display: flex;
  height: 70px;
}

/* Header Bar */
#navHeader {
  background: #911500;
  background: -moz-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: -webkit-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: linear-gradient(to bottom, #911500 0%, #A10808 50%, #820000 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 17px black;
}

/* Expandable Header Option */
#root>div:nth-child(1)>nav {
  /* display: none; hides bar */
  background: #911500;
  background: -moz-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: -webkit-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: linear-gradient(to bottom, #911500 0%, #A10808 50%, #820000 100%);
  box-shadow: 2px 2px 17px black;
  border-bottom: 3px solid rgb(108, 28, 28);
}

.linkContainer {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  margin: auto;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(190, 183, 183);
  text-shadow: 2px 2px 4px rgb(11, 11, 11);
}

.links {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#navHeader>div {
  padding-left: 20px;
  color: rgb(229, 221, 221);
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

/* ======================== END HEADER / LINK  SECTION ====================== */
/* 
##
## 
*/
/* ========================== MAIN PAGES SECTION ============================ */
/* === === Main page === === */
.page {
  display: flex;
  flex-direction: column;
}

/* Targets H1 on pages ex(Home, Index, Edit, etc..)*/
#root>div.App>div>h1 {
  font-family: 'Lobster Two', cursive;
  color: rgb(239, 121, 121);
  font-size: 3.3rem;
  text-shadow: 2px 2px 4px black;
}

/* === === Forms === === */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formInput {
  background-color: #ddd5d0;
  font-weight: bold;
  margin-bottom: 20px;
}

.formLabel {
  text-align: left;
  justify-content: left;
  align-items: left;
}

.catForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  background-color: red;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 8px 17px black;
  background-color: rgb(198, 109, 109);
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid rgb(155, 99, 99);
  text-shadow: 1px 1px 2px rgb(182, 176, 176);
  text-align: left;
  margin-bottom: 25px;
}


/* === === Cat Images === === */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catImagesHome>img {
  width: 600px;
  border-radius: 8px;
  width: 29%;
  border: 2px solid rgb(155, 99, 99);
  box-shadow: 4px 8px 17px black;
  background-color: rgb(198, 109, 109);
  margin: 15px;
}

/* === === Cards === === */
.cardCollection {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card-title {
  font-family: 'Lobster Two', cursive;
}

.card {
  box-shadow: 4px 8px 17px black;
  height: 500px;
  width: 18rem;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  background-color: rgb(198, 109, 109);
  border: 2px solid rgb(155, 99, 99);
  margin-bottom: 20px;
}

.cardImage {
  border-radius: 10px 10px 0px 0px;
  height: 250px;
}

.subtitle {
  color: rgb(190, 190, 196);
}

/* Card Description */
.description {
  background-color: rgb(60, 55, 55);
  color: rgb(239, 121, 121);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

/* === === Buttons === === */
.catButtons {
  display: flex;
  margin-bottom: 110px;
  justify-content: center;
  gap: 15px;
}

.submitButton {
  display: flex;
  gap: 15px;
  margin-bottom: 110px;
  justify-content: center;
}

.btn {
  box-shadow: 2px 2px 9px black;
  color: rgb(239, 121, 121);
  font-weight: bold;
  background: #701202;

  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btnSep {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.btnForm {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.btn:hover {
  background: rgb(239, 121, 121);
  color: rgb(60, 55, 55);
  font-weight: bold;
}

.btn-secondary:active {
  color: rgb(31, 17, 17);
  font-weight: bold;
  background: #c33114;
}

/* === === Index Page === === */
.index {
  margin-bottom: 100px;
}

/* ========================== END MAIN PAGES SECTION ======================== */
/* 
##
## 
*/
/* =========================== FOOTER SECTION =============================== */

#navFooter {
  background: #911500;
  background: -moz-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: -webkit-linear-gradient(top, #911500 0%, #A10808 50%, #820000 100%);
  background: linear-gradient(to bottom, #911500 0%, #A10808 50%, #820000 100%);

  opacity: .95;
  filter: (opacity=50);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 8px 17px black;
  color: rgb(229, 221, 221);
  border-top: 3px solid rgb(108, 28, 28);
}

.image {
  border-radius: 20px;
  box-shadow: 4px 8px 17px black;
}

/* Centers Footer Text */
.container-fluid>h4 {
  margin: auto;
  color: rgb(190, 183, 183);
}

/* =========================== END FOOTER SECTION =========================== */
/* 
##
## 
*/
/* ========================  REACTIVE SECTION =============================== */
/* == Reactive Styles for Menu Toggler == */
.toggler :hover {
  transform: scale(1.1);
  background-color: rgb(239, 121, 121);
}

.toggler :active {
  transform: scale(1);
  background-color: rgb(239, 121, 121);
}

/* == Used to give transition affect for links == */
.grow {
  font-weight: bold;
  transition: all .3s ease-in-out;

}

.grow:hover {
  /* transform: scale(1.15); */
  color: rgb(239, 121, 121);
  
}

.shrink {
  margin-left: 10px;
  transform: translateX(0);
}

#root>link:active {
  color: rgb(239, 121, 121);
}

/* ====== Animation for Buttons ============ */

.but {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s;
  border-radius: 10px;
}

.but:before,
.but:after {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.but:before {
  background: rgba(0, 0, 0, 0.1);
}

.but:hover {
  background: #0079a5;
}

.but:active,
.but:focus {
  background: #002e3f;
  outline: none;
}

.but {
  min-width: 15em;
}

.arrow {
  background: #911500;
}

.arrow:hover {
  background: rgb(239, 121, 121);
  color: rgb(60, 55, 55);
}

.arrow:active,
.arrow:focus {
  background: #b90c01;
}

.arrow:after {
  content: "\f138";
}

.arrow:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}


/* ================================================================ */

.select {
  background: #911500;
}

.select:hover {
  background: rgb(239, 121, 121);
  color: rgb(60, 55, 55);
}

.select:active,
.select:focus {
  background: #b90c01;
}

.select:after {
  content: "\f6be";
}

.select:hover:after {
  -webkit-animation: bounceUp 0.3s alternate ease infinite;
  animation: bounceUp 0.3s alternate ease infinite;
}

/* =======Thumbs Down Button============== */
.thumbsDownButton {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s;
  border-radius: 10px;
}

.thumbsDownButton:before,
.thumbsDownButton:after {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.thumbsDownButton:before {
  background: rgba(0, 0, 0, 0.1);
}

.thumbsDownButton:hover {
  background: #0079a5;
}

.thumbsDownButton:active,
.thumbsDownButton:focus {
  background: #002e3f;
  outline: none;
}

.thumbsDownButton {
  min-width: 10em;
}

/* ============================ */
.thumbsDown {
  background: #911500;
}

.thumbsDown:hover {
  background: rgb(239, 121, 121);
  color: rgb(60, 55, 55);
}

.thumbsDown:active,
.thumbsDown:focus {
  background: #b90c01;
}

.thumbsDown:after {
  content: "\f165";
}

.thumbsDown:hover:after {
  -webkit-animation: bounceDown 0.3s alternate ease infinite;
  animation: bounceDown 0.3s alternate ease infinite;
}

/* =======Thumbs Down Button============== */
.thumbsUpButton {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s;
  border-radius: 10px;
}

.thumbsUpButton:before,
.thumbsUpButton:after {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.thumbsUpButton:before {
  background: rgba(0, 0, 0, 0.1);
}

.thumbsUpButton:hover {
  background: #0079a5;
}

.thumbsUpButton:active,
.thumbsUpButton:focus {
  background: #002e3f;
  outline: none;
}

.thumbsUpButton {
  min-width: 10em;
}

/* ============================ */
.thumbsUp {
  background: #911500;
}

.thumbsUp:hover {
  background: rgb(239, 121, 121);
  color: rgb(60, 55, 55);
}

.thumbsUp:active,
.thumbsUp:focus {
  background: #b90c01;
}

.thumbsUp:after {
  content: "\f164";
}

.thumbsUp:hover:after {
  -webkit-animation: thumbsUp 0.3s alternate ease infinite;
  animation: thumbsUp 0.3s alternate ease infinite;
}


@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3px);
  }
}


@keyframes bounceUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}


@keyframes bounceDown {
  from {
    transform: translateY(3);
  }
  to {
    transform: translateY(6px);
  }
}


@keyframes thumbsUp {
  from {
    transform: translateY(3);
  }
  to {
    transform: translateY(-6px);
  }
}
/* =====================  END REACTIVE SECTION ============================== */
/* 
##
## 
*/
/* ===================== RESPONSIVE CSS Styles ============================== */
/* === Responsive Phone Size ==================================== */
@media (max-width: 729px) {

  /* 629 */
  /* Removes Desktop Header */
  .desktop {
    display: none;
  }

  .header {
    margin-bottom: 90px;
  }

  /* LOGO */
  #root>div:nth-child(1)>nav>div>a>img {
    padding: 0px;
    width: 100px;
    height: 120px;
    margin-top: -58px;
    margin-bottom: -20px;
    margin-left: -30px;
  }

  /* Container for logo and title */
  #root>div:nth-child(1)>nav>div>a {
    padding: 0px;
    width: 100px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: -100px;
    margin-left: 0px;
  }

  /* HEADER TITLE */
  .pageTitle {
    font-family: 'Lobster Two', cursive;
    color: rgb(239, 121, 121);
    font-size: 2.4rem;
    text-shadow: 2px 2px 4px black;
    padding: 0px;
    margin-top: -35px;
  }

  h1 {
    font-size: 1rem;
  }

  .card-title {
    font-size: 3rem;
  }

  /* MENU TOGGLE ON HEADER */
  .toggler {
    width: 30px;
    margin-right: 35px
  }

  .catImagesHome {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    margin-bottom: 15px;
  }

  .catImagesHome>img {
    width: 320px;
    border-radius: 18px;
    padding: 10px;
    margin: 0px;
    background-color: none;
  }

  .catButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;
    justify-content: center;
    align-items: center;
    
  }

  .thumbsUpButton {
    text-align: right;
    min-width: 8.2em;
    font-size: 1rem;
  }
  .thumbsDownButton {
    min-width: 8.2em;
    font-size: 1rem;
  }
  
  .submitButton {
    display: flex;
   
  }
  .index {
    margin-bottom: 100px;
  }

  .#root > div.App > div > div.submitButton > a {
    display: flex;
    font-size: 2rem;
    justify-content: center;


  }


}

/* Desktop Responsive Section================================== */
/* Removes App Bar when screen gets larger */
@media (min-width: 730px) {
  .mobile {
    display: none;
  }
}