.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

body {
  background-color: rgb(193, 183, 183);
}

.container-fluid-nav {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;

}

#navHeader {
  background-color:#F00; /*whichever you want*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 17px black;

}
.links {
  display: flex;
  justify-content:space-between;
  margin: auto;
}

#navHeader > div {
  padding-right: 50px;
  padding-left: 50px;
}

#navFooter {
  background-color:#F00; /*whichever you want*/
  opacity: 0.8; 
  filter:(opacity=50);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 8px 17px black;

}


.image {
  border-radius: 20px;
  box-shadow: 4px 8px 17px black;
}
.container-fluid > h4 {
  margin: auto;
}